@model IEnumerable<Comment>
<h1>@Model.Count()</h1>
@foreach(var item in Model)
            {
                <h1>
                    @item.Title
                    </h1>
                    <h4>
                        @item.Content
                    </h4>
                    <hr />
                    
                        @foreach(var x in item.Replies)
                {
                    <h6>
                        @x.Content
                    </h6>
                }
               
            }